.App {
  text-align: center;
  color: #CCC;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.eventsContainer {
    margin-top: 52px;
    background-color: #252930;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 50vw;
    height: calc(100vh - 52px);
    overflow: auto;
}

::-webkit-scrollbar { 
    display: none; 
}

.eventCard {
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: black;
    background-color: #252930;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
}

.eventCard:focus {
    outline-width: 0px;
    color: white;
    background-color: #2d323a;
}

.eventCard:hover {
    background-color: #2d323a;
    color: white;
}

.eventCard:active {
    background-color: #272b33;
    color: white;
}

.navbar {
    margin-bottom: 0px;
}
